# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Graphviz render output
*.gv
*.gv.svg
*.gv.png

# Environments
.venv/
venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/
